<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liangliang.bookmanager.mapper.BookMapper">
    <resultMap id="BookMap" type="com.liangliang.bookmanager.bean.Book">
        <id column="book_id" property="bookId"/>
        <result column="book_name" property="bookName"/>
        <result column="author" property="author"/>
        <result column="image_url" property="imageUrl"/>
        <result column="location" property="location"/>
        <result column="type_id" property="typeId"/>
        <result column="isbn" property="isbn"/>
        <result column="state" property="state"/>
        <result column="book_date" property="bookDate"/>
    </resultMap>

    <insert id="addBook" parameterType="com.liangliang.bookmanager.bean.Book">
        INSERT INTO book (book_name,author,image_url,location,type_id,isbn,state,book_date)
        VALUES (#{bookName},#{author},#{imageUrl},#{location},#{typeId},#{isbn},#{state},#{bookDate})
    </insert>

    <update id="updateBook" parameterType="com.liangliang.bookmanager.bean.Book">
        UPDATE book
        <set>
            <if test="bookName != null">
                book_name = #{bookName},
            </if>
            <if test="author != null">
                author = #{author},
            </if>
            <if test="imageUrl != null">
                image_url = #{imageUrl},
            </if>
            <if test="location != null">
                location = #{location},
            </if>
            <if test="typeId != null">
                type_id = #{typeId},
            </if>
            <if test="isbn != null">
                isbn = #{isbn},
            </if>
            <if test="state != null">
                state = #{state}
            </if>
        </set>
        WHERE book_id = #{bookId}
    </update>

    <select id="searchBook" resultMap="BookMap">
        SELECT b.*, t.type_name, s.state_name FROM book b, type t, state s
        WHERE ${searchName} LIKE #{search}
        AND b.type_id = t.type_id
        AND b.state = s.state_id
        ORDER BY ${sort} ${order} LIMIT #{offset},#{limit}
    </select>

    <select id="searchBookCount" resultType="int">
        SELECT COUNT(*) FROM book b, type t, state s
        WHERE ${searchName} LIKE #{search}
        AND b.type_id = t.type_id
        AND b.state = s.state_id
    </select>

    <select id="getBookList"  resultMap="BookMap">
        SELECT * FROM book b
    </select>

    <select id="getBookAndUserList"  resultMap="BookMap">
        SELECT b.* FROM book b
        ORDER BY ${sort} ${order} LIMIT #{offset},#{limit}
    </select>

    <select id="bookCount" resultType="int">
        SELECT COUNT(*) FROM book b
    </select>


    <delete id="deleteBook" parameterType="int">
        DELETE FROM book
        WHERE book_id=#{bookId}
    </delete>

    <select id="getBookInfoById" parameterType="int" resultMap="BookMap">
        SELECT * FROM book b
        WHERE book_id=#{bookId}
    </select>

    <select id="getBookListByType" resultMap="BookMap">
        SELECT * FROM book b
        WHERE type_id=#{typeId}
        ORDER BY ${sort} ${order} LIMIT #{offset},#{limit}
    </select>

    <select id="getBookListByTypeCount" resultType="int">
        SELECT COUNT(*) FROM book b
        WHERE type_id=#{typeId}
        ORDER BY ${sort} ${order} LIMIT #{offset},#{limit}
    </select>

</mapper>